<table class="table table-hover">
  <thead>
    <tr>
      <th>English</th>
      <th>Vietnamese unsigned</th>
      <th>Vietnamese</th>
      <th>Categories</th>
      <th>Description</th>
      <th>Learning count</th>
      <th>Learning speed</th>
      <th colspan="2">Lookup</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.english %></td>
        <td><%= word.vietnamese_unsigned %></td>
        <td><%= word.vietnamese %></td>
        <td><%= word.categories.pluck(:name).join(', ') %></td>
        <td><%= word.description %></td>
        <td><%= word.learning_count %></td>
        <td><%= word.learning_speed %></td>
        <td><%= link_to 'Laban', "https://dict.laban.vn/find?type=1&query=#{word.english.split(' ').join('+')}", target: '_blank' %></td>
        <td><%= link_to 'Google', "https://translate.google.com.vn/m/translate?hl=vi#view=home&op=translate&sl=en&tl=vi&text=#{word.english}", target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>