<%= form_with(model: dictionary, local: true) do |form| %>
  <% if dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% dictionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :english %>
    <%= form.text_field :english, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :vietnamese_unsigned %>
    <%= form.text_field :vietnamese_unsigned, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :vietnamese %>
    <%= form.text_field :vietnamese, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_ids, Category.all.collect { |x| [x.name, x.id] }, {}, multiple: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control simplemde', rows: 6 %>
  </div>

  <div class="form-group" style="display: <%= action_name == 'edit' ? 'block' : 'none' %>;">
    <%= form.label :learning_count %>
    <%= form.number_field :learning_count, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group" style="display: <%= action_name == 'edit' ? 'block' : 'none' %>;">
    <%= form.label :learning_speed %>
    <%= form.number_field :learning_speed, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  var simplemde = new SimpleMDE({element: $('.simplemde')[0]});
</script>
