<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><%= sort_link(@q, :english, 'English') %></th>
      <th><%= sort_link(@q, :english, 'Vietnamese') %></th>
      <th>Categories</th>
      <th><%= sort_link(@q, :learning_count, 'Learned') %></th>
      <th colspan="4">Lookup</th>
      <th class="text-center">Speak</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @dictionaries.each do |dictionary| %>
      <%- mp3 = rails_blob_path(dictionary.audio, disposition: :attachment) if dictionary.audio.attached? %>
      <tr>
        <td><%= link_to dictionary.english, dictionary %></td>
        <td><%= dictionary.vietnamese %></td>
        <td><%= dictionary.categories.pluck(:name).join(', ') %></td>
        <td><%= dictionary.learning_count %></td>
        <td><%= link_to 'Laban', "https://dict.laban.vn/find?type=1&query=#{dictionary.english.split(' ').join('+')}", class: 'btn btn-default references', target: '_blank' %></td>
        <td><%= link_to 'Soha', "http://tratu.soha.vn/dict/en_vn/#{dictionary.english.split(' ').join('_')}", class: 'btn btn-default references', target: '_blank' %></td>
        <td><%= link_to 'Tracau', "https://tracau.vn/?s=#{dictionary.english.split(' ').join('%20')}", class: 'btn btn-default references', target: '_blank' %></td>
        <td><%= link_to 'Google', "https://translate.google.com.vn/m/translate?hl=vi#view=home&op=translate&sl=en&tl=vi&text=#{dictionary.english}", class: 'btn btn-default references', target: '_blank' %></td>
        <td class="text-center">
          <div style="width: 100px;">
            <audio preload="none">
              <source class="mp3" src='<%= mp3 %>' />
            </audio>
            <button class="speak btn btn-default" data-mp3='<%= mp3 %>' style="font-size: 20px; border: 1px solid #ccc; border-radius: 50%;"><%= fa_icon 'volume-up' %></button>
            <br>
            <span class="speak-on-vocabulary" style="display: none;">
              <%= fa_icon 'arrow-right', style: 'color: #dc3545; font-size: 12px;' %>
              <a href="https://www.vocabulary.com/dictionary/<%= dictionary.english %>" target="_blank" class="text-danger" style="font-size: 12px;">RETRY!</a>
              <%= fa_icon 'arrow-left', style: 'color: #dc3545; font-size: 12px;' %>
            </span>
          </div>
        </td>
        <td><%= link_to 'Show', dictionary, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_dictionary_path(dictionary), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
