<h1>Editing Word</h1>

<%= link_to 'Show', @dictionary %> |
<%= link_to 'Back', dictionaries_path %>
<br>
<br>

<%= render 'form', dictionary: @dictionary %>

<%= link_to 'Show', @dictionary %> |
<%= link_to 'Back', dictionaries_path %>

<br>
<br>
<br>
<br>
<br>
