<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @dictionary.english %>
</p>

<p>
  <strong>Vietnamese unsigned:</strong>
  <%= @dictionary.vietnamese_unsigned %>
</p>

<p>
  <strong>Vietnamese:</strong>
  <%= @dictionary.vietnamese %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @dictionary.categories.pluck(:name).join(', ') %>
</p>

<p>
  <strong>References:</strong>
  <span><%= link_to 'Laban', "https://dict.laban.vn/find?type=1&query=#{@dictionary.english.split(' ').join('+')}", class: 'btn btn-default', target: '_blank' %></span>
  <span><%= link_to 'Google', "https://translate.google.com.vn/m/translate?hl=vi#view=home&op=translate&sl=en&tl=vi&text=#{@dictionary.english}", class: 'btn btn-default', target: '_blank' %></span>
</p>

<p>
  <strong>Description:</strong>
  <div style="box-shadow: 2px 2px 2px 2px; padding: 40px;">
    <%= markdown(@dictionary.description) %>
  </div>
</p>

<p>
  <strong>Learning count:</strong>
  <%= @dictionary.learning_count %>
</p>

<p>
  <strong>Learning speed:</strong>
  <%= @dictionary.learning_speed %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
<br>
<br>
<br>
<br>
<br>