<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dictionaries"><%= fa_icon 'themeisle', style: 'font-size: 24px;' %> Bright Dictionary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><%= fa_icon 'home', style: 'font-size: 18px;' %> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dictionaries"><%= fa_icon 'book', style: 'font-size: 18px;' %> Dictionaries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories"><%= fa_icon 'chevron-circle-down', style: 'font-size: 18px;' %> Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/histories"><%= fa_icon 'history', style: 'font-size: 18px;' %> Histories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dictionaries/new"><%= fa_icon 'plus-square', style: 'font-size: 18px;' %> CREATE A NEW WORD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/play/options"><%= fa_icon 'play', style: 'font-size: 18px;' %> PLAY</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 search-box">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-input" onkeypress="return searchWord(event);">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="search-button">Search</button>
    </div>
  </div>
</nav>

<script type="text/javascript">
  function searchWord(e) {
    e = e || window.event;
    if (e.keyCode == 13) {
      $('#search-button').trigger('click');
      return false;
    }
    return true;
  }
</script>